<a href="https://colab.research.google.com/github/DavidSaruni/KSL-Classification/blob/main/JengaHackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import os
for dirname, _, filenames in os.walk('/captain/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Flatten,Conv2D,MaxPool2D,Dropout
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [4]:
# connect to gdrive
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [7]:
train_df=pd.read_csv('/content/gdrive/MyDrive/Task_mate_new/Train.csv')
test_df=pd.read_csv('/content/gdrive/MyDrive/Task_mate_new/Test.csv')

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6249 entries, 0 to 6248
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   img_IDS  6249 non-null   object
 1   Label    6249 non-null   object
dtypes: object(2)
memory usage: 97.8+ KB

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   img_IDS  2679 non-null   object
dtypes: object(1)
memory usage: 21.1+ KB

In [10]:
train_df.describe()

                 img_IDS             Label
count               6249              6249
unique              6249                 9
top     ImageID_33HMDMJ3  Enough/Satisfied
freq                   1               695

In [11]:
train_df.head(6)

            img_IDS             Label
0  ImageID_33HMDMJ3            Temple
1  ImageID_V5POEX4O            Church
2  ImageID_89CCCCW6  Enough/Satisfied
3  ImageID_GNJXOWX5                Me
4  ImageID_7Q9LOP7R              Love
5  ImageID_0TEORZRD              Love

In [12]:
train_label=train_df['Label']
train_label.head()
trainset=train_df.drop(['Label'],axis=1)
trainset.head()

            img_IDS
0  ImageID_33HMDMJ3
1  ImageID_V5POEX4O
2  ImageID_89CCCCW6
3  ImageID_GNJXOWX5
4  ImageID_7Q9LOP7R

In [24]:
X_train = trainset.values
X_train = trainset.values.reshape(-1,1)
print(X_train.shape)

(6249, 1)